.saveChangesBtn,#updateBtn{
    display: flex;
    justify-content: center;
    padding: 5px 40px;
}

.profileCard,#changePasswordInnerCard{
    box-shadow: 0px 0px 4px #111;
    animation: zoomProfile 2s ease-in-out;
}

.profileCard input ,#changePasswordInnerCard input{
    border: 1px solid #badbf6;
}

.profileCardHeading,.changePasswordHeading{
    color: #45a2ee;
}

@keyframes zoomProfile {
    0%{
        opacity: 0;
        transform: scale(0);
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }
}