.App{
  min-height: 100vh;
  overflow-x: hidden;

}
#first-heading{
  animation-name: slide;
  animation-duration: 3s;
}

@keyframes slide {
  0%{
    opacity: 0;
    transform: translate(-500px);
  }

  100%{
    opacity: 1;
    transform: translateX(0px);

  }
}