/* *{
    transition: all ease-out 0.3s;
} */
#BookingmainCard{
    box-shadow: 0px 0px 3px #111;
    transition: transform 0.7s ease-in-out;
    position: relative;
}

#BookingmainCard:hover{
    transform: translateY(-20px);
}

#card-image{
    aspect-ratio: 16/9 !important;
}

#cardBody{
    aspect-ratio: 16/4 !important;
}

.status{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 4px 15px !important;
    background-color: rgba(255, 255, 255, 0.75) !important;
    box-shadow: 0.09rem 0.09rem 4px #1e65d1;
}

.title-icon{
    margin-top: -4px;
}

.notFoundImage{
    width: 500px;
    aspect-ratio: 5/4;
    object-fit: cover;
    animation: imageslide ease-in-out 0.8s;
}

.notFoundText{
    animation: imageslide ease-in-out 0.8s;
}


#BookingcardColumn{
    animation: card-anime 1s ease-in-out;
}

@keyframes card-anime {
    0%{
        opacity: 0;
        transform: translateY(90px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width:1024px){
    #BookingcardColumn{
        margin: auto;
    }
}

@keyframes imageslide {
    0%{
        opacity: 0;
        scale: 0.5;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}
